/* Flexbox */
.grid {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .grid.wrap {
    -webkit-box-wrap: wrap;
    -moz-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid.wrap-reverse {
    -webkit-box-wrap: wrap-reverse;
    -moz-box-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  @media (max-width: 1200px) {
    .grid.wrap-large {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 1100px) {
    .grid.wrap-average {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 1024px) {
    .grid.wrap-mid {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .grid.column-orient-mid {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  @media (min-width: 1000px) {
    .grid.column-orient-mid-large {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  @media (max-width: 900px) {
    .grid.wrap-mezzo {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .grid.wrap-mezzo-reverse {
      -webkit-box-wrap: wrap-reverse;
      -moz-box-wrap: wrap-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
    .grid-cell.center-small {
      -webkit-align-self: center;
      align-self: center;
      -moz-align-self: center;
      -ms-align-self: center;
      text-align: center;
    }
  }
  @media (max-width: 800px) {
    .grid.wrap-average {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 700px) {
    .grid.wrap-narrow {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .grid.wrap-narrow-reverse {
      -webkit-box-wrap: wrap-reverse;
      -moz-box-wrap: wrap-reverse;
      -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
    }
    .grid.justify-center-narrow {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .grid.wrap-tiny {
      -webkit-box-wrap: wrap;
      -moz-box-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  .theme-boxed .grid.boxed-wrap {
    -webkit-box-wrap: wrap;
    -moz-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid.column-orient {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid.row-orient {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .grid.managed-width,
  .grid-cell.managed-width {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .grid.narrow-width,
  .grid-cell.narrow-width {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
  }
  .grid.borders div {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
  }
  .grid.borders.first-row div {
    border-top: 1px solid #aaa;
    font-weight: 700;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, #d8d8d8 100%);
    background: -webkit-linear-gradient(top, #eaeaea 0%, #d8d8d8 100%);
    background: linear-gradient(to bottom, #eaeaea 0%, #d8d8d8 100%);
  }
  .grid.borders div:last-child {
    border-right: 1px solid #aaa;
  }
  .grid.center {
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .grid.nowrap {
    -moz-box-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -ms-box-wrap: nowrap !important;
  }
  .grid.bottom {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .grid.baseline {
    align-items: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
  }
  .grid.start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
  }
  .grid.stretch {
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
  }
  .grid.justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .grid.justify-space {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .grid.justify-space-around {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .grid.justify-end {
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .grid.justify-start {
    justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .grid-cell {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .grid-cell.stretch {
    -webkit-align-self: stretch;
    align-self: stretch;
    -moz-align-self: stretch;
    -ms-align-self: stretch;
  }
  .grid-cell.double-size {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    flex-grow: 2;
    -ms-flex-grow: 2;
  }
  .grid-cell.noflex {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-cell.center {
    -webkit-align-self: center;
    align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    text-align: center;
  }
  .grid-cell.centerNt {
    -webkit-align-self: center;
    align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
  }
  .grid-cell.right {
    -webkit-align-self: right;
    align-self: right;
    -moz-align-self: right;
    -ms-align-self: right;
    text-align: right;
  }
  .grid-cell.center-nonText {
    -webkit-align-self: center;
    align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
  }
  .grid-cell.start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
  }
  .grid-cell.end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
  }
  .grid-cell.grow0 {
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    -ms-flex-grow: 0;
  }
  .grid-cell.grow2 {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    flex-grow: 2;
    -ms-flex-grow: 2;
  }
  .grid-cell.grow3 {
    -webkit-flex-grow: 3;
    -moz-flex-grow: 3;
    flex-grow: 3;
    -ms-flex-grow: 3;
  }
  .fullWidth {
    padding: 0 35px;
  }
  .w100 {
    width: 100%;
  }
  .w90 {
    width: 90%;
  }
  .w80 {
    width: 80%;
  }
  .w70 {
    width: 70%;
  }
  .w66 {
    width: 66.6666%;
  }
  .w60 {
    width: 60%;
  }
  .w50 {
    width: 50%;
  }
  .w40 {
    width: 40%;
  }
  .w33 {
    width: 33.3333%;
  }
  .w30 {
    width: 30%;
  }
  .w25 {
    width: 25%;
  }
  .w20 {
    width: 20%;
  }
  .mw100 {
    max-width: 100%;
  }
  .mw90 {
    max-width: 90%;
  }
  .mw80 {
    max-width: 80%;
  }
  .mw70 {
    max-width: 70%;
  }
  .mw66 {
    max-width: 66.6666%;
  }
  .mw60 {
    max-width: 60%;
  }
  .mw50 {
    max-width: 50%;
  }
  .mw33 {
    max-width: 33.3333%;
  }
  .mw30 {
    max-width: 30%;
  }
  .mw25 {
    max-width: 25%;
  }
  .mw20 {
    max-width: 20%;
  }
  .wmw100 {
    width: 100%;
    max-width: 100%;
  }
  .wmw90 {
    width: 90%;
    max-width: 90%;
  }
  .wmw89 {
    width: 89%;
    max-width: 89%;
  }
  .wmw88 {
    width: 88%;
    max-width: 88%;
  }
  .wmw87 {
    width: 87%;
    max-width: 87%;
  }
  .wmw86 {
    width: 86%;
    max-width: 86%;
  }
  .wmw85 {
    width: 85%;
    max-width: 85%;
  }
  .wmw84 {
    width: 84%;
    max-width: 84%;
  }
  .wmw83 {
    width: 83%;
    max-width: 83%;
  }
  .wmw82 {
    width: 82%;
    max-width: 82%;
  }
  .wmw81 {
    width: 81%;
    max-width: 81%;
  }
  .wmw80 {
    width: 80%;
    max-width: 80%;
  }
  .wmw79 {
    width: 79%;
    max-width: 79%;
  }
  .wmw78 {
    width: 78%;
    max-width: 78%;
  }
  .wmw76 {
    width: 76%;
    max-width: 76%;
  }
  .wmw75 {
    width: 75%;
    max-width: 75%;
  }
  .wmw74 {
    width: 74%;
    max-width: 74%;
  }
  .wmw72 {
    width: 72%;
    max-width: 72%;
  }
  .wmw71 {
    width: 71%;
    max-width: 71%;
  }
  .wmw70 {
    width: 70%;
    max-width: 70%;
  }
  .wmw69{
    width: 69%;
    max-width: 69%;
  }
  .wmw68{
    width: 68%;
    max-width: 68%;
  }
  .wmw66 {
    width: 66.6666%;
    max-width: 66.6666%;
  }
  .wmw65 {
    width: 65%;
    max-width: 65%;
  }
  .wmw60 {
    width: 60%;
    max-width: 60%;
  }
  .wmw59 {
    width: 59%;
    max-width: 59%;
  }
  .wmw58 {
    width: 58%;
    max-width: 58%;
  }
  .wmw57 {
    width: 57%;
    max-width: 57%;
  }
  .wmw56 {
    width: 56%;
    max-width: 56%;
  }
  .wmw55 {
    width: 55%;
    max-width: 55%;
  }
  .wmw54 {
    width: 54%;
    max-width: 54%;
  }
  .wmw53 {
    width: 53%;
    max-width: 53%;
  }
  .wmw52 {
    width: 52%;
    max-width: 52%;
  }
  .wmw51 {
    width: 51%;
    max-width: 51%;
  }
  .wmw50 {
    width: 50%;
    max-width: 50%;
  }
  .wmw49 {
    width: 49%;
    max-width: 49%;
  }
  .wmw48 {
    width: 48%;
    max-width: 48%;
  }
  .wmw47 {
    width: 47%;
    max-width: 47%;
  }
  .wmw46 {
    width: 46%;
    max-width: 46%;
  }
  .wmw45 {
    width: 45%;
    max-width: 45%;
  }
  .wmw44 {
    width: 44%;
    max-width: 44%;
  }
  .wmw43 {
    width: 43%;
    max-width: 43%;
  }
  .wmw42 {
    width: 42%;
    max-width: 42%;
  }
  .wmw41 {
    width: 41%;
    max-width: 41%;
  }
  .wmw40 {
    width: 40%;
    max-width: 40%;
  }
  .wmw39 {
    width: 39%;
    max-width: 39%;
  }
  .wmw38 {
    width: 38%;
    max-width: 38%;
  }
  .wmw37 {
    width: 37%;
    max-width: 37%;
  }
  .wmw36 {
    width: 36%;
    max-width: 36%;
  }
  .wmw35 {
    width: 35%;
    max-width: 35%;
  }
  .wmw34 {
    width: 34%;
    max-width: 34%;
  }
  .wmw33 {
    width: 33.3333%;
    max-width: 33.3333%;
  }
  .wmw32 {
    width: 32%;
    max-width: 32%;
  }
  .wmw31 {
    width: 31%;
    max-width: 31%;
  }
  .wmw30 {
    width: 30%;
    max-width: 30%;
  }
  .wmw29 {
    width: 29%;
    max-width: 29%;
  }
  .wmw28 {
    width: 28%;
    max-width: 28%;
  }
  .wmw27 {
    width: 27%;
    max-width: 27%;
  }
  .wmw26 {
    width: 26%;
    max-width: 26%;
  }
  .wmw25 {
    width: 25%;
    max-width: 25%;
  }
  .wmw24 {
    width: 24%;
    max-width: 24%;
  }
  .wmw23 {
    width: 23%;
    max-width: 23%;
  }
  .wmw22 {
    width: 22%;
    max-width: 22%;
  }
  .wmw21 {
    width: 21%;
    max-width: 21%;
  }
  .wmw20 {
    width: 20%;
    max-width: 20%;
  }
  .wmw19 {
    width: 19%;
    max-width: 19%;
  }
  .wmw18 {
    width: 18%;
    max-width: 18%;
  }
  .wmw17 {
    width: 17%;
    max-width: 17%;
  }
  .wmw16 {
    width: 16.6666%;
    max-width: 16.6666%;
  }
  .wmw15 {
    width: 15%;
    max-width: 15%;
  }
  .wmw14 {
    width: 14%;
    max-width: 14%;
  }
  .wmw13 {
    width: 13%;
    max-width: 13%;
  }
  .wmw12 {
    width: 12%;
    max-width: 12%;
  }
  .wmw11 {
    width: 11.1111%;
    max-width: 11.1111%;
  }
  .wmw10 {
    width: 10%;
    max-width: 10%;
  }
  .h100 {
    height: 100%;
  }
  .m0 {
    margin: 0 auto;
  }
  /* Flexox end */
  .fixed {
    position: fixed;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .full-width {
    width: 100%;
  }
  .height-auto {
    height: auto;
  }
  .display-block {
    display: block;
  }
  .top-0 {
    top: 0;
  }
  .left-0 {
    left: 0;
  }
  .right-0 {
    right: 0;
  }
  .bottom-0 {
    bottom: 0;
  }
  .t0 {
    top: 0;
  }
  .l0 {
    left: 0;
  }
  .r0 {
    right: 0;
  }
  .b0 {
    bottom: 0;
  }
  .pos0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .inline-block {
    display: inline-block;
  }