/* Omni Loyalty Integration CSS
_____________________________*/

.gui-reward-page-wrapper {
  max-width: 720px;
  margin: 30px auto;
}

.gui-reward-text-center {
  text-align: center;
}

.gui-reward-icon {
  display: inline-block;
  margin-right: 25px;
}

.gui-reward-hallmarks-icon {
  margin-right: 40px;
}

.gui-reward-top-text {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

.gui-reward-wrapper {
  list-style: none;
  border: 1px solid black;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 17px 0;
  color: #555;
}

.gui-reward-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 17px 11%;
}

@media (max-width: 767px) {
  .gui-reward-item {
    width: 100%;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    padding: 17px 5%;
  }

  .gui-reward-top-text {
    display: block;
    text-align: center;
  }
}

.gui-reward-item-text {
  text-align: left;
}

.gui-reward {
  display: flex;
  justify-content: flex-end;
}

.gui-reward-progress {
  width: 80%;
  float: left;
  border: 1px solid #8d8d8d;
  border-radius: 15px;
}

.gui-reward .gui-reward-progress .gui-reward-progress-bar {
  height: 20px;
  background-color: #ccca;
  border-radius: 15px;
}

.gui-reward .gui-reward-progress-pts {
  width: 15%;
  float: right;
  margin-top: 3px;
}

.gui-loyalty-account-points {
  font-size: 1.4375em;
  font-weight: bold;
  color: #000000;
}

.gui-reward-line {
  height: 50px;
}

.gui-reward-line .gui-reward-line-title {
  float: left;
  width: 43%;
}
.gui-col2-left .gui-reward-line-progress {
  float: right;
  width: 55%;
}

.gui-reward-line .gui-line-description {
  float: left;
  margin-top: 10px;
  height: 45px;
  width: 100%;
  font-size: 0.95em;
}

.gui-account-loyalty-content {
  height: 75px;
}

.gui-input-phone-number input[type=number]::-webkit-inner-spin-button,
.gui-input-phone-number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gui-input-phone-number {
  position: relative;
  display: flex;
}

.gui-input-phone-number .gui-input-phone-number-code-wrapper {
  position: absolute;
  width: 80px;
  height: 25px;
  z-index: 2;
  margin: 4px;
}

.gui-input-phone-number .gui-form-details-phone-number-code {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
}

.gui-input-phone-number #gui-form-details-phone-number {
  padding-left: 80px;
  line-height: 32px;
}

.gui-input-phone-number .gui-input-phone-number-code-flag {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 24px;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

.gui-input-phone-number .gui-input-phone-number-code-placeholder {
  text-align: right;
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 1.8;
  left: 28px;
  font-size: 13px;
  pointer-events: none;
  color: #8d8d8d;
  width: 45px;
}

.gui-reward-birthday-label {
  color: #000000;
}

.gui .gui-reward-birthday-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #8d8d8d;
  text-decoration: none;
  line-height: 26px;
  padding: 3px 15px;
  color: #000000;
  background-color: #ffffff;
  margin-top: 10px;
  width: 100%;
}

.gui-points-to-be-earned {
  margin-top: -25px;
  margin-bottom: 25px;
}

.gui-reward-cart-block {
  margin-bottom: 30px;
}

.gui-reward-cart-block-title {
  text-align: right;
  cursor: pointer;
}

.gui-reward-cart-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.gui-reward-cart-arrow-up {
  background: url(gui-arrow-up.png) no-repeat transparent;
  background-size: 20px;
}

.gui-reward-cart-arrow-down {
  background: url(gui-arrow-down.png) no-repeat transparent;
  background-size: 20px;
}

.gui-reward-cart-loading {
  display: inline-block;
}

/* gui-cart-rewards-list / related
_________________________*/

.gui .gui-cart-rewards-list {
  list-style-type: none;
}

.gui .gui-cart-rewards-list .gui-cart-rewards-item {
  border-bottom: 1px solid #DDDDDD;
  padding: 15px;
  line-height: 20px;
  position: relative;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.gui ul.gui-cart-rewards-list .gui-cart-rewards-item .gui-cart-rewards-list-title {
  width: 200px;
}

.gui ul.gui-cart-rewards-list .gui-cart-rewards-item .gui-cart-rewards-list-name {
  color: #333333;
  text-decoration: none;
  text-align: left;
}

.gui ul.gui-cart-rewards-list .gui-cart-rewards-item .gui-cart-rewards-list-info {
  font-size: 90%;
  text-align: left;
}

.gui ul.gui-cart-rewards-list .gui-cart-rewards-item .gui-cart-rewards-list-apply .gui-cart-rewards-list-apply-btn {
  background: none;
  color: #000000;
  border: 1px solid #8d8d8d;
  padding: 3px 15px;
  line-height: 26px;
  text-transform: none;
  font: inherit;
}

.gui-cart-rewards-list-block {
  overflow: auto;
  max-height: 170px;
}

.gui-empty-reward-list {
  padding: 15px;
}

/* Omni QOH Integration CSS
_____________________________*/

.product-inventory-location-label {
  text-decoration: underline;
  cursor: pointer;
}

.gui-modal-product-inventory-location {
  background: #fff;
  width: 320px;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  top: 50%;
  transform: translate(-20%, -50%);
}

#gui-modal-product-inventory-location-wrapper {
  display: none;
}

.gui-modal-product-inventory-location-background {
  background-color: #333;
  height: 100%;
  left: 0;
  position: fixed;
  opacity: 0.6;
  top: 0;
  width: 100%;
}

.gui-modal-product-inventory-location-header {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

.gui-modal-product-inventory-location-label {
  color: #fff;
  margin: 0;
  padding: 0;
}

#gui-modal-product-inventory-location-close {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
}

.gui-modal-product-inventory-location-content-row {
   display: flex;
   flex-direction: column;
   line-height: 0.2;
   padding-left: 20px;
   padding-right: 20px;
 }

.gui-modal-product-inventory-location-content-row-divider {
  border: none;
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.gui-product-inventory-address {
  color: #a9a9a9;
  line-height: 1.2;
}

.gui-modal-product-inventory-location-footer {
  padding: 20px;
}

.gui-modal-product-inventory-location-content {
  overflow-y: auto;
  max-height: 300px;
}

@media (max-width:768px){
  .gui-modal-product-inventory-location{
    transform: none;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 0;
  }
}